body {
	/* TODO: Change variable names */
	--text1: #329DFF;
	--text2: #173755;
	--text3: #427EB5;
	--backdrop: #0E1623;
	--button: #0D418C;
	--yellow1: #FFE57F;
	--yellow2: #FFBE7A;
	--yellow3: #FFA177;
	--yellow4: #FF7170;
	color: white;
	font-family: 'Montserrat';
	margin: 0;

	/* Animated background */
	background: linear-gradient(45deg, #05080E, #16243b, #05080E, #16243b);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

/* Animated background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(37, 50, 77);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(82, 113, 180);
}

h1 {
	font-weight: 700;
	font-size: 7.4vw;
	margin: 0;
	color: var(--text1);
}

h2 {
	font-weight: 500;
	font-size: 3vw;
	margin: 0;
	color: var(--text3);
}

h3 {
	font-weight: 500;
	font-size: 48px;
	font-size: 2.6vw;
	margin: 0;
	text-align: center;
	color: var(--text3);
}

h4 {
	font-weight: 500;
	font-size: 30px;
	margin: 0;
	text-align: center;
	color: var(--text1);
}

h5 {
	font-weight: 300;
	font-size: 26px;
	margin: 0;
	color: var(--text3);
}

p {
	font-weight: 500;
	font-size: 30px;
	margin: 0;
	color: var(--text2);
}

button {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 600;
	color: white;
	background-color: var(--button);
	width: 110px;
	height: 40px;
	border-radius: 5px;
	border: none;
	/* Hover off */
	transition: all 0.2s ease;
}

button:hover {
	cursor: pointer;
	background-color: var(--yellow4);
	/* Hover on */
	transition: all 0.2s ease;
}

a {
	text-decoration: none;
	color: var(--text1);
	/* Hover off */
	transition: all 0.2s ease;
}

a:hover {
	color: var(--yellow4);
	/* Hover on */
	transition: all 0.2s ease;
}

button a {
	color: white;
}

button a:hover {
	color: white;
}

label {
	font-weight: 600;
	font-size: 20px;
	margin: 0;
	color: white;
}

input {
	height: 26px;
	width: 220px;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	padding: 0px 7px 0px 7px;
	border: 2px solid white;
	transition: all 0.2s ease;
}

input:hover {
	border: 2px solid var(--text2);
	transition: all 0.2s ease;
}

input:focus {
	border: 2px solid var(--text2);
	outline: none;
	transition: all 0.2s ease;
}

select {
	height: 26px;
	/* For some reason select and input with the same width aren't the same in the browser */
	width: 220px;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	padding: 0px 7px 0px 7px;
	border: 2px solid white;
	transition: all 0.2s ease;
}

select:hover {
	border: 2px solid var(--text2);
	transition: all 0.2s ease;
}

select:focus {
	border: 2px solid var(--text2);
	outline: none;
	transition: all 0.2s ease;
}

textarea {
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	padding: 7px;
	border: 2px solid white;
}

.register-and-login {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-and-login-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.register-and-login-bottom {
	background-color: var(--backdrop);
	padding: 20px 35px 30px 35px;
	border-radius: 20px;
	gap: 15px;
	margin-bottom: 200px;
}