body {
	/* TODO: Change variable names */
	--text1: #329DFF;
	--text2: #173755;
	--text3: #427EB5;
	--button: #0D418C;
	--yellow1: #FFE57F;
	--yellow2: #FFBE7A;
	--yellow3: #FFA177;
	--yellow4: #FF7170;
	background: linear-gradient(90deg, #0E1623, #05080E);
	color: var(--text1);
	font-family: 'Montserrat';
	margin: 0;
}

h1 {
	font-weight: 700;
	font-size: 130px;
	margin: 0;
}

h2 {
	font-weight: 500;
	font-size: 64px;
	margin: 0;
	color: var(--text3);
}

h3 {
	font-weight: 500;
	font-size: 48px;
	margin: 0;
	text-align: center;
	color: var(--text3);
}

p {
	font-weight: 500;
	font-size: 32px;
	margin: 0;
	color: var(--text2);
}

a {
	text-decoration: none;
	color: var(--text1);
	/* Hover off */
	transition: all 0.2s ease;
}

a:hover {
	color: var(--yellow4);
	/* Hover on */
	transition: all 0.2s ease;
}

.withlove {
	font-weight: normal;
	font-size: 18px;
}

.landing-left {
	margin-top: 200px;
	margin-left: 100px;
}

.landing-right {
	display: flex;
	flex-direction: column;
	margin-top: 350px;
	margin-right: 50px;
	align-items: center;
}

button {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 700;
	width: 220px;
	height: 70px;
	border-radius: 6px;
	color: white;
	background-color: var(--button);
	border: none;
	box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.4);
	/* Hover off */
	transition: all 0.2s ease;
}

button:hover {
	cursor: pointer;
	background-color: var(--yellow4);
	/* Hover on */
	transition: all 0.2s ease;
}